*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish', sans-serif;
}

h1{
    font-weight: lighter;
    display: inline;
}

.italics{
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
    color: $link_color;
}

.brown_i{
    color: $bg_color_lbrown;
    font-size: 30px;
}

.btn{
    font-family: 'Mulish', sans-serif;
    text-transform: uppercase;
    padding: 15px 30px;
    font-size: 12px;
    font-weight: bold;
}

.container{
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 50px 0px 50px 0px;
}

.smaller{
    font-size: $smaller;
    margin-top: 10px;
}

.center{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.rebel_h1{
    display: flex;
    flex-direction: row;
    justify-content: center;

    h1{
            font-size: 2.5rem;
    }

    .italics{
            margin-left: 10px;
        }
}