.post{
    width: calc(100% /3);
    margin: 0px 10px;

    .date{
        position: absolute;
        margin-top: -1%;
        width: 65px;
        margin-left: 20px;

        .day{
            background-color: $bg_color_green;
            font-family: 'Playfair Display', serif;
            font-size: 1.5rem;
            text-align: center;
            padding: 0px 6px 5px 6px;
            width: 100%;
        }

        .month_year{
            font-size: 11px;
            text-transform: uppercase;
            font-weight: bold;
            padding: 10px;
            margin-right: 0px;
            width: 100%;
            background-color: $date_bgcolor;
        }

    }

    .post_pic{
        img{
            max-width: 100%;
        }
    }
    
    .post_text{
        h3{
            font-weight: lighter;
            margin: 15px 0px;
        }

        p{
            font-family: 'Playfair Display', serif;
        }
    }
}