#process{

        #steps_container{
                img{
                        width: 100%;
                        margin: 20px 0px;
                }

                #steps{
                        display: flex;
                        flex-direction: row;

                        .one_step{
                                text-align: center;
                                width: calc(100% / 4);

                                h4{
                                        margin: 10px 0px 10px 0px;
                                }

                                p{
                                        font-size: 14px;
                                }
                        }
                }
        }
    
}